

.status__bar{
    display:flex;
    justify-content:center;
    padding:5px 3px;
    position: fixed;
    top:0;
    width:100%;
}

.status__bar__col{
    width:33%;
}

.status__bar__col:nth-child(2){
    display:flex;
    justify-content: center;
}

.status__bar__col:nth-child(3){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status__bar .status__bar__col:first-of-type span{
    margin-right:5px;
}

.status__bar__col .fa-battery-three-quarters{
    margin-right:5px;
    margin-left:5px;
}