#chatting_screen .alt-header .alt-header_box:nth-of-type(3)>i:nth-of-type(2){
    margin-left:20px;
}

#chatting_screen .alt-header_box{
    width:33%;
}

#chatting_screen .alt-header_box:nth-child(2){
    text-align: center;
}

#chatting_screen .alt-header_box:last-child{
    display: flex;
    justify-content: flex-end;
}

#chatting_screen{
    background-color:#abc1d1;
    height: 100vh;
}

#chatting_screen .alt-header,.status__bar{
    position: fixed;
    top:0;
    width:100%;
    box-sizing: border-box;
}

@keyframes fadeIn{
    from{
        transform: translateY(30px);
        opacity: 0;
    }

    to{
        transform: none;
        opacity: 1;
    }
}

.main_chatting{
    margin-top:130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.8s linear;
}

.chats_timeStamp{
    color:#fff;
    background-color: #92a4b2;
    padding:15px;
    border-radius: 25px;
    font-size:14px;
    margin-bottom:25px;
}

#chatting_screen .status__bar{
    z-index: 2;
}


@keyframes comeMsg{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        transform: none;
        opacity: 1;
    }
}

.mssg-row{
    width: 100%;
    display: flex;
    margin-bottom:25px;;
    animation: comeMsg 1s ease-in-out;
}

.mssg-row img{
    width:60px;
    height:60px;
    border-radius:25px;
    margin-right:15px;
}

.mssg_name{
    opacity: 0.8;
    font-size:14px;
    margin-bottom:7px;
    display: block;
}




.msg_contents{
  
}

.mssg_info{
    display: flex;
    align-items: flex-end;
}

.mssg_info span:nth-child(1){
    background-color: #fff;
    padding:13px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    margin-right:5px;
    font-size:18px;
}

.mssg_info span:nth-child(2){
    font-size: 14px;
    opacity: 0.8;
}


@keyframes mssgComeOwn{
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{
        opacity: 1;
    }
}

.mssg-row__own{
    justify-content: flex-end;
    animation: mssgComeOwn 2s ease-in-out;
}


.mssg-row__own .mssg_info span:nth-child(1){
    background-color: var(--yellow);
    border-top-right-radius:0px;
    border-top-left-radius: 20px;
}

.mssg-row__own .mssg_info{
    flex-direction: row-reverse;
}


.mssg-row__own .mssg_bubble{
    margin-right:0;
    margin-left:5px;
}

.reply{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding:5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.reply i{
    opacity: 0.5;
}


.reply .reply_box:first-child{
    width:10%;
}

.reply .reply_box:last-child{
    width:90%;
    position: relative;
}

.reply input{
    padding:14px;
    width:100%;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 1s ease-in-out ;
}

.reply_box:last-child > i,
.reply_box:last-child button{
    position: absolute;
    right:3px;
    top:2px;
}

.reply_box:last-child > i{
    right:50px;
    top:15px;
}

.reply_box button{
    background-color: var(--yellow);
    border:none;
    width:40px;
    height:40px;
    border-radius:50%;
    cursor: pointer;
}

.reply_box button i{
    opacity: 1;
}

.reply_box button:focus,
.reply_box button:active{
    outline: none;
}


.reply .reply_box:first-child,
.reply .fa-smile-beam,
.reply button{
    transition:opacity 0.3s ease-in-out;
}



.reply:focus-within .reply_box:first-child,
.reply:focus-within .fa-smile-beam,
.reply:focus-within button{
    opacity: 0;
}

.reply:focus-within input{
    width:98vh;
    transform:translateX(-13%)  translateY(-80px);
}

.reply:focus-within{
    transform: translateY(80px);
}