.setting_li{
    padding:20px 0;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.setting_li:hover{
    background-color: bisque;
    border-radius:5px;
    box-sizing: border-box;
    width:100%;
}

.setting_li i{
    margin-right:20px;
    font-size:22px;
    color:#777;
}

.add_text{
    opacity:0.5;
}

.setting_list2{
    margin-top:50px;
}

.setting_list2>li{
    padding :31px 0;
}